@font-face {
    font-family: 'Mona Sans';
    src:
      url('/Fonts/Mona-Sans.woff2') format('woff2 supports variations'),
      url('/Fonts/Mona-Sans.woff2') format('woff2-variations');
    font-weight: 200 900;
    font-stretch: 75% 125%;
    font-display: swap;
}

* {
    font-family: 'Mona Sans', sans-serif;
}

html {
    overflow-y: scroll;
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(150deg, rgb(82, 109, 146), rgb(50, 61, 90), rgb(45, 83, 60));
    margin: 0;
    box-sizing: border-box;
}

section {
    max-width: 1100px;
}

section img {
    max-width: 400px;
    margin: auto;
}

main {
    padding: 0 10px;
}

p {
    text-align: justify;
}

a {
    text-decoration: none;
    transition-duration: 0.3s;
}

.a:hover {
    opacity: 0.5;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: rgb(53, 75, 80);
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999;
}

header section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

header img {
    max-width: 50px;
}

nav a {
    color: white;
    margin: 0 5px;
    border: 1px solid grey;
    padding: 5px;
    border-radius: 5px;
    background-color: rgb(73, 102, 109);
}

h1 {
    text-align: center;
}

footer {
    margin-top: 20px;
    text-align: center;
    background-color: white;
    border-radius: 5px 5px 0 0;
    padding: 10px;
}

footer p {
    margin: 10px auto;
    text-align: center;
}

footer a {
    color: rgb(81, 81, 179);
}

section {
    max-width: 1100px;
    margin: auto;
}

#article {
    background-color: white;
    padding: 20px;
    margin: 20px auto;
    border-radius: 10px;
}

#video {
    display: flex;
    justify-content: center;
    margin: auto;
}

#video iframe {
    border-radius: 10px;
}

#contacto img {
    max-width: 17px;
    margin-right: 8px;
    margin: 0 auto;
    margin-bottom: -2px;
}

#logo img {
    width: 100%;
    border-radius: 10px;
}

#logo {
    margin: 30px auto auto auto;
    text-align: center;
    max-width: 400px;
}

#estrabismo-img img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.7);
}

#estrabismo-img {
    margin: 30px auto auto auto;
    text-align: center;
    max-width: 800px;
}

.abrir, .cerrar {
    display: none;
}

@media (max-width: 700px) {
    .nav {
        display: flex;
        align-items: end;
        flex-direction: column;
        padding-top: 20px;
        padding-right: 5px;
        gap: 10px;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        height: 100vh;
        background-color: black;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
        padding: 20px 10px;
        opacity: 0;
        visibility: hidden;
    }

    .nav.visible {
        opacity: 1;
        visibility: visible;
    }

    .abrir, .cerrar {
        display: block;
        background: none;
        border: none;
    }

    .abrir {
        margin: 0 10px;
    }
}

@media (max-width: 320px) {
    iframe {
        width: 220px;
    }
}