@font-face {
    font-family: 'Mona Sans';
    src:
      url('./Fonts/Mona-Sans.woff2') format('woff2 supports variations'),
      url('./Fonts/Mona-Sans.woff2') format('woff2-variations');
    font-weight: 200 900;
    font-stretch: 75% 125%;
}

* {
    font-family: 'Mona Sans', sans-serif;
}

body {
    background: linear-gradient(150deg, rgb(82, 109, 146), rgb(50, 61, 90), rgb(45, 83, 60));
    margin: 0;
}

section {
    max-width: 1100px;
}

a {
    text-decoration: none;
    transition-duration: 0.3s;
}

.a:hover {
    opacity: 0.5;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    background-color: rgb(53, 75, 80);
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999;
}

header section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

header img {
    max-width: 50px;
}

header a {
    color: white;
    margin: 0 5px;
}

#logo {
    display: flex;
    text-align: center;
    margin: auto;
    margin-top: 30px;
    width: 35%;
    min-width: 350px;
    border-radius: 10px;
}

#bio {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    margin-top: 30px;
    border-radius: 10px;
    box-shadow: 3px 4px 9px 0 rgba(0, 0, 0, 0.4);
    background-color: white;
    padding: 20px;
    scroll-margin-top: 60px;
}

#bio div {
    max-width: 800px;
}

#bio img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 3px 4px 9px 0 rgba(0, 0, 0, 0.4);
}

#bio p {
    max-width: 800px;
    font-size: 17px;
}

#comentarios {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    margin: auto;
    margin-top: 30px;
    border-radius: 10px;
    box-shadow: 3px 4px 9px 0 rgba(0, 0, 0, 0.4);
    background-color: white;
    padding: 20px;
}

#comentarios div {
    border: 5px solid rgb(117, 165, 141);
    border-radius: 10px;
    background-color: rgb(141, 199, 170);
    padding: 5px;
}

#ubicacion {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    margin-top: 30px;
    border-radius: 10px;
    box-shadow: 3px 4px 9px 0 rgba(0, 0, 0, 0.4);
    background-color: white;
    padding: 20px;
    scroll-margin-top: 60px;
}

#ubicacion div {
    max-width: 800px;
}

#ubicacion img {
    width: 100%;
}

#ubicacion a:hover {
    color: rgb(117, 63, 153);
}

#ubicacion p {
    font-size: 17px;
}

#img-1 {
    border-radius: 10px;
}

#agendar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    margin-top: 30px;
    border-radius: 10px;
    box-shadow: 3px 4px 9px 0 rgba(0, 0, 0, 0.4);
    background-color: white;
    padding: 20px;
    scroll-margin-top: 60px;
}

#agendar-button {
    background-color: green;
    color: white;
    font-weight: 500;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 20px;
    border: 3px solid rgb(0, 100, 0);
    scroll-margin-top: 60px;
}

#agendar-button:hover {
    background-color: rgb(0, 107, 0);
    border: 3px solid rgb(0, 85, 0);
}

footer {
    margin-top: 20px;
    text-align: center;
    background-color: white;
    border-radius: 5px 5px 0 0;
    padding: 10px;
}

body::-webkit-scrollbar {
    width: 5px;
    border-radius: 5px;
    background-color: rgb(3, 0, 20);
  }
  
  body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
  }
  
  body::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #585c5e;
  }
  
  body::-webkit-scrollbar-thumb:hover {
    background-color: #4a4d4e;
  }
  
  body::-webkit-scrollbar-button {
    background-color: rgb(3, 0, 20);
}